.van-grid::after {
  content: unset;
}
.van-number-keyboard {
  padding-bottom: 10px;
}
.van-grid-item__content {
  padding: 0;
  margin-bottom: 15px;
  background-color: transparent;
}
.van-grid-item__content::after {
  content: unset;
}
div.pay-item {
  height: 60px;
  padding: 0 10px;
  display: flex;
  cursor: pointer;
  line-height: 65px;
  text-align: center;
  border-radius: 8px;
  width: calc(100% - 30px);
  background-color: #ffffff;
}
div.pay-item svg {
  width: 95%;
  margin: auto;
  max-height: 90%;
}
div.pay-item svg.success {
  display: none;
}
div.pay-item.item-active {
  background-color: #dd524d !important;
}
div.pay-item.item-active svg {
  display: none;
}
div.pay-item.item-active svg.success {
  display: block;
}
input.input-container {
  width: 100%;
  height: 45px;
  margin: 0 5px;
  outline: none;
  padding: 0 10px;
  border-radius: 5px;
  border: 2px solid #dddddd;
}
input.input-container:focus {
  border: 2px solid #dd524d;
}
button.donate-button {
  width: 100%;
  height: 50px;
  border: none;
  margin: 0 5px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  font-size: 1.2rem;
  border-radius: 5px;
  background-color: #dd524d;
}
div.price-item {
  height: 65px;
  cursor: pointer;
  padding: 0 10px;
  line-height: 65px;
  text-align: center;
  border-radius: 8px;
  width: calc(100% - 30px);
  background-color: #ffffff;
}
div.price-item input.price-input {
  width: 100%;
  height: 35px;
  border: none;
  outline: none;
  font-size: 1rem;
  text-align: center;
  background-color: transparent;
}
div.input-group {
  display: flex;
}
div.input-group input:nth-child(1) {
  width: 75%;
}
div.price-item.item-active {
  color: #ffffff;
  background-color: #dd524d;
}
div.price-item.item-active input.price-input {
  color: #ffffff;
}
div.donate-content div.price-item {
  background-color: #f1f1f1;
}
div.donate-content div.price-item.item-active {
  color: #ffffff;
  background-color: #dd524d;
}
