
div.contact-card {
    width: 100%;
    height: 80px;
    padding: 15px;
    display: flex;
    position: relative;
    background-color: #ffffff;

    &::before {
        left: 0;
        right: 0;
        bottom: 0;
        height: 2px;
        content: "";
        position: absolute;
        background: repeating-linear-gradient(-45deg, var(--van-warning-color) 0, var(--van-warning-color) 20%, transparent 0, transparent 25%, var(--van-primary-color) 0, var(--van-primary-color) 45%, transparent 0, transparent 50%);
        background-size: 80px;
    }

    &:active {
        background-color: rgba(128, 128, 128,0.05);
    }

    img.avatar {
        width: 50px;
        height: 100%;
        border-radius: 3px;
    }

    div.user-content {
        flex: 1;
        padding: 0;
        height: 100%;
        display: flex;
        margin-left: 15px;
        flex-direction: column;

        p.userdesc {
            color: #666666;
            margin-top: auto;
            font-size: 0.85rem;
        }
    }
}