.application-dialog {
  max-height: 75%;
  overflow: hidden;
  overflow-y: scroll;
  border-radius: 8px;
}
.application-dialog div.innerHtml {
  line-height: 35px;
}
.application-dialog div.innerHtml h3 {
  margin: 10px 0;
  color: #000000;
}
.application-dialog div.innerHtml div.el-collapse-item__content {
  padding-bottom: 15px;
}
.application-dialog div.special-thanks {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.application-dialog div.special-thanks div.special-thanks-item {
  width: 100%;
  height: 45px;
  margin: 15px 0;
  display: flex;
  align-items: center;
}
.application-dialog div.special-thanks div.special-thanks-item img.user-avatar {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 3px;
}
.application-dialog div.special-thanks div.special-thanks-item div.user-content {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.application-dialog div.special-thanks div.special-thanks-item div.user-content h3.user-nick {
  font-size: 1rem;
  color: #000000;
}
.application-dialog div.special-thanks div.special-thanks-item div.user-content p.user-desc {
  font-size: 0.95rem;
  color: #999999;
  margin-top: auto;
}
.application-dialog div.contack-us div.contack-item {
  cursor: pointer;
  padding-left: 0;
  padding-right: 0;
}
