
div#application:has(div.not-layout) {
    height: 100%;
    padding-top: 0!important;
}

div.not-layout {
    width: 100vw;
    height: 100%;
    display: flex;
    overflow: hidden;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    img.loading-icon {
        width: 135px;
        height: 135px;
        border-radius: 50%;
        position: relative;
    }
}