div.statistics-frame {
  width: 100%;
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important;
}
div.statistics-frame div.statistics-box {
  margin: 0 auto;
  width: var(--application-width);
}
div.statistics-frame div.statistics-box h1.frame-title {
  margin: 10px 0;
  color: #343a40;
  font-weight: 500;
  text-align: center;
}
div.statistics-frame div.statistics-box p.frame-desc {
  color: #8a90a2;
  text-align: center;
}
div.statistics-frame div.statistics-box div.statistics-data {
  width: 100%;
  display: flex;
  margin-top: 4rem;
}
div.statistics-frame div.statistics-box div.statistics-data div.statistics-item {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
}
div.statistics-frame div.statistics-box div.statistics-data div.statistics-item span.item-value {
  font-size: 3rem;
  color: #343a40;
  font-weight: bold;
  margin-bottom: 1rem;
}
div.statistics-frame div.statistics-box div.statistics-data div.statistics-item span.item-title {
  font-size: 1rem;
  color: #8a90a2;
}
div.statistics-frame.frame-mobile {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
div.statistics-frame.frame-mobile div.statistics-box {
  width: 90%;
}
div.statistics-frame.frame-mobile div.statistics-box h1.frame-title {
  font-size: 1.75rem;
}
div.statistics-frame.frame-mobile div.statistics-box div.statistics-data {
  flex-wrap: wrap;
}
div.statistics-frame.frame-mobile div.statistics-box div.statistics-data div.statistics-item {
  width: 50%;
  flex: unset;
  margin-bottom: 20px;
}
div.statistics-frame.frame-mobile div.statistics-box div.statistics-data div.statistics-item span.item-value {
  font-size: 2rem;
}
