
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-optical-sizing: auto;
    -webkit-touch-callout: none;
}

p, span, div {
    font-family: "Noto Sans SC","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif!important;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #ffffff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div#application {
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

::selection {
    color: #ffffff;
    background: var(--dominColor);
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --dominColor: #79bbff;
}

div.page-container {
    width: 100%;
    padding-top: 0px;
    position: relative;
}

div.page-container header.page-header {
    top: 0;
    width: 100%;
    height: 65px;
    z-index: 999;
    font-size: 20px;
    position: fixed;
    line-height: 65px;
    text-align: center;
    background-color: #ffffff;
    border-bottom: 1px solid #e3e8f7;
}

div.el-dialog {
    border-radius: 5px;
}

.accant {
    cursor: pointer;
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    -webkit-text-fill-color: transparent;
}

.accant::selection {
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
    -webkit-text-fill-color: transparent;
}

button.aide-btn {
    height: 45px;
    border: none;
    outline: none;
    display: flex;
    cursor: pointer;
    padding: 0 20px;
    color: #476582;
    font-size: 18px;
    border-radius: 4px;
    align-items: center;
    background: #f1f1f1;
    justify-content: center;
}

button.aide-btn-primary {
    color: #ffffff;
    background: -webkit-linear-gradient(315deg, #42d392 25%, #647eff);
}

@media (min-width: 680px) {
    body {
        --application-width: 100%;
    }
}

@media (min-width: 768px) {
    body {
        --application-width: 95%;
    }
}

@media (min-width: 840px) {
    body {
        --application-width: 90%;
    }
}


@media (min-width: 992px) {
    body {
        --application-width: 970px;
    }
}

@media (min-width: 1200px) {
    body {
        --application-width: 1170px;
    }
}

@media (min-width: 1700px) {
    body{
        --application-width: 1250px;
    }
}

@media (min-width: 2048px) {
    body {
        --application-width: 1420px;
    }
}

:root {
    --aide-bg-color: #191d24;
    --aide-box-color: #292e37;
    --aide-desc-color: #ebebeb8f;
    --aide-text-color: #fffff5ed;
    --aide-button-bg-color: #32363f;
    --aide-button-text-color: #dfdfd6;
}

body {
    background-color: var(--aide-bg-color);
}

button.aide-btn {
    color: var(--aide-button-text-color);
    background-color: var(--aide-button-bg-color);
}

div.el-overlay-dialog div.page-donate {
    height: unset;
}