
* {
    margin: 0;
    padding: 0;
    font-weight: normal;
    scroll-behavior: smooth;
    -webkit-touch-callout: none;
    font-family: "MiSans","PingFang SC","Hiragino Sans GB","Microsoft YaHei",sans-serif!important;
}

html {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    --application-width: 100%;
    background-color: #ffffff;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

div#application {
    width: 100%;
}

a {
    text-decoration: none;
}

img {
    object-fit: cover;
    user-select: none;
    -webkit-user-drag: none;
}

::selection {
    color: #ffffff;
    background-color: var(--dominColor);
}

::-webkit-scrollbar {
    display: none;
}

:root {
    --dominColor: #79bbff;
}

div#application {
    padding-top: 75px;
}



@font-face {
    font-family: "MiSans";
    src: url("./fonts/MiSans/MiSans-Normal.ttf");
}

@font-face {
    font-family: "HarmonyOS";
    src: url("./fonts/HarmonyOS/HarmonyOS.woff");
}

@media (min-width: 768px) {
    body {
        --application-width: 750px;
    }
}

@media (min-width: 992px) {
    body {
        --application-width: 970px;
    }
}

@media (min-width: 1200px) {
    body {
        --application-width: 1170px;
    }
}

@media (min-width: 1700px) {
    body{
        --application-width: 1450px;
    }
}

@media (min-width: 2048px) {
    body {
        --application-width: 1620px;
    }
}